/* variables */

    $primary-color: #0A171F;
    $secondary-color: #3E4649;
    $text-color: #d5d5d5;
    $accent-color: #1471D9;
    $accent-color-hover: #0c4e98;
    $alt-secondary-color: #2f3336;



